{% if blog.comments_enabled? %}
{% assign number_of_comments = article.comments_count %}
	<div id="comments" class="comments">
		{% paginate article.comments by 10 %}
			
			{% if number_of_comments > 0 %}
				<h3>
					{{ number_of_comments }} {{ number_of_comments | pluralize: 'comment', 'comments' }}
				</h3>
			
			
				{% for comment in article.comments %}
				
				<div id="comment-{{ comment.id }}" class="comment clearfix">
					<h4 class="comment-author">
					  {{ comment.author }} says...
					</h4>
					<h5 class="comment-date">
					  On {{ comment.created_at | date: "%B %d, %Y" }}
					</h5>
					
					<div class="comment-content">
					  {{ comment.content }}
					</div>
				</div> <!-- /.comment -->
				
				{% endfor %}
				
				{% if paginate.pages > 1 %}
					{% include 'pagination' %}
				{% endif %}
			
			{% endif %}<!-- number_of_comments > 0 -->
			
			
			<div class="comment_form">
				{% form article %}
				
					<h3>Leave a comment</h3>
					{% if form.posted_successfully? %}
						{% if blog.moderated? %}
							<div class="notice success">
							  Your comment is awaiting moderation.
							</div>
						{% else %}
							<div class="notice success">
								Successfully posted your comment.
							</div>
						{% endif %}
					{% endif %}
					
					{% if form.errors %}
						<div class="notice error">
							Please check your submission for errors.
						</div>
					{% endif %}
					
					<input {% if form.errors contains "author" %} class="error"{% endif %} type="text" name="comment[author]" placeholder="Enter your name here" id="comment-author" value="{{ form.author }}" autocapitalize="words">
					
					<input {% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="Enter your email here" id="comment-email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
					
					<textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="comment-body" placeholder="Enter your comments here...">{{ form.body }}</textarea>
					
					<input type="submit" value="Post comment" id="comment-submit" />
				
				{% endform %}
			</div> <!-- /.comment_form -->
			
		{% endpaginate %}
		
	</div> <!-- /#comments -->
	
	{% endif %}<!-- blog.comments_enabled -->