<div class="featured">
  <div class="image">
  	{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
  	{% if product.images.size == 1 %}
  		<a href="{{ featured_image | img_url : 'original' }}" class="fancybox"><img src="{{ featured_image  | img_url : 'grande' }}" alt="{{ product.featured_image.alt | escape }}" /></a>
  	{% else %}
    	<a href="{{ featured_image | img_url : 'original' }}" id="placeholder"><img src="{{ featured_image  | img_url : 'grande' }}" alt="{{ product.featured_image.alt | escape }}" /></a>
    {% endif %}
  </div>
</div> <!-- /.featured -->

{% if product.images.size > 1 %}
<div class="thumbs clearfix">
	<div class="thumbs-header">additional views</div>
		{% for image in product.images %}
		<div class="image{% cycle 'position': '', '', '', ' last' %}">
			<a href="{{ image.src | product_img_url: 'original' }}" class="fancybox" rel="gallery">
				<img src="{{ image.src | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" />
			</a>
		</div>
	{% endfor %}
</div><!-- /.thumbs -->
{% endif %}
<script>
jQuery(document).ready(function($) {
	$('#placeholder').click(function(){
		$('.fancybox').filter(':first').click();
		return false;
	});
	$(".fancybox").fancybox({
		padding: 0,
		margin: 40,
		helpers : {
		        overlay : {
		            css : {
		                'background' : 'rgba(0, 0, 0, 0.8)'
		            }
		        }
		    }
	});
	
});
</script>