{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}

<div id="product-{{ forloop.index | plus:paginate.current_offset }}" class="product{% cycle 'featured': '', '', '', ' last' %}">
  <div class="image">
    <a href="{% if collection_handle == "" %}{{ product.url }}{% else %}/collections/{{ product-loop }}{{ product.url }}{% endif %}"><img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape  }}" /></a>
  </div>
  
  <div class="caption clearfix">
    <a href="{% if collection_handle == "" %}{{ product.url }}{% else %}/collections/{{ product-loop }}{{ product.url }}{% endif %}">
      {% include 'product-caption' %}
    </a>
  </div>
  
</div>

{% cycle 'clear-table': '', '', '', '', '<div style="clear:both;"></div>' %}