<div id="product-slide-{{ product.handle }}" class="product{% cycle 'featured': '', '', '', ' last' %}">
  <div class="image">
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" title="{{ product.featured_image.alt | escape  }}" />
    </a>
  </div>
  <div class="caption">
  	<a href="{{ product.url }}">
    {% include 'product-caption' %}
    </a>
  </div>
</div>