<h3>{{ product.title }}</h3>
<span class="price{% if product.compare_at_price > product.price %} sale{% endif %}{% unless product.available %} soldout{% endunless %}">
	{% if product.available %}
		{% if product.price_varies %}
			{{ product.price | money }} - {{product.price_max | money }}
		{% else %}
			{% if product.compare_at_price > product.price %} 
				<del>{{ product.compare_at_price | money }}</del><br>
			{% else %}
				{{ product.price | money }}
			{% endif %}  
		{% endif %}
	{% else %}
		SOLD OUT 
	{% endif %}        
</span>