<div class="share-article">
	SHARE THIS ON
	<a href="javascript:void((function(){var%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)})());">PINTEREST</a> <span class="divider">|</span> 
	<a href="http://www.facebook.com/sharer.php?s=100&amp;p[url]={{ shop.url }}{{ article.url }}&amp;p[title]={{ article.title }} from {{ shop.name }}"  target="_blank">FACEBOOK</a> <span class="divider">|</span> 
	<a href="http://twitter.com/share?&url={{ shop.url }}{{ article.url }}&text={{ article.title }} from {{ shop.name }}" target="_blank">TWITTER</a>
</div>