<div class="sidebar-widget" style="text-align:center;">
	<h3>{{ settings.top_title }}</h3>
	<img src="{{ 'top_image.jpg' | asset_url }}" alt="{{ settings.top_title }}" />
	<p>{{ settings.top_content }}</p> 
    <a href="{{ settings.top_button_link }}" class="btn" style="display:block;width:110px;padding: 10px 30px;margin-top: 10px;">{{ settings.top_button_text }}</a>
</div>
<div class="sidebar-widget">
	<h3>Shop by Category</h3>
	<ul class="clearfix">
		{% for link in linklists[settings.main_linklist].links %}
			<li><a href="{{ link.url }}"{% if link.active %} class="current"{% endif %}><span>{{ link.title }}</span></a></li>
		{% endfor %}
	</ul>
</div>
<div class="sidebar-widget social">
	<h3>Follow us</h3>
	<a href="{{ settings.facebook }}" target="_blank"><i class="icon-facebook"></i></a>
	<a href="{{ settings.twitter }}" target="_blank"><i class="icon-twitter"></i></a>
	<a href="{{ settings.pinterest }}" target="_blank"><i class="icon-pinterest"></i></a>
	<a href="{{ settings.instagram }}" target="_blank"><i class="icon-instagram"></i></a>
</div>
<div class="sidebar-widget opt-in">
	<h3>Join the Mailing List!</h3>
	<form>
		<input type="email" value="" placeholder="EMAIL ADDRESS" name="EMAIL" /><input type="submit" value="GO!" />
	</form>
</div>