<div class="sidebar-categories desktop-nav">	
	<ul>
		{% for link in linklists.sidebar.links %}
			{% if linklists[link.handle] == empty %}
				<li class="solo-link"><a href="{{ link.url }}"{% if link.active %} class="current"{% endif %}>{{ link.title }}</a></li>
			{% else %}
				<li class="submenu-parent">
					<h3>
						{% if settings.top_level_nav %}
						<a href="{{ link.url }}"{% if link.active %} class="current"{% endif %}>
						{% endif %}
							{{ link.title }}
						{% if settings.top_level_nav %}
						</a>
						{% endif %}
					</h3>
					<ul class="submenu">
						{% for link in linklists[link.handle].links %}
							<li><a href="{{ link.url }}"{% if link.active %} class="current"{% endif %}>{{ link.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
<div class="sidebar-categories mobile-nav selector-wrapper">
	<select id="browse" onchange="browse()">
		<option value="">shop by category</option>
		{% for link in linklists.sidebar.links %}
			{% if linklists[link.handle] == empty %}
				<option value="{{ link.url }}">{{ link.title }}</option>
			{% else %}
				<optgroup label="{{ link.title }}">
			    	{% if settings.top_level_nav %}
			    	<option value="{{ link.url }}">All {{ link.title }}</option>
			    	{% endif %}
			        {% for link in linklists[link.handle].links %}
			        <option value="{{ link.url }}">{{ link.title }}</option>
			        {% endfor %}
			    </optgroup>
			{% endif %}
		{% endfor %}
	</select>
</div>
<script type="text/javascript">
	function browse() {var href = document.getElementById('browse').value; window.location = href;}
</script>