{% layout settings.customer_layout %}

<div class="page-title">
	<h1>{{ page.title }}</h1>
</div>

<div class="admin-header">
	<p class="action_link action_return" id='return_to_store'><a href="{{ shop.url }}">Return to Store</a> | {{ 'Logout' | customer_logout_link }}</p>
</div>

<div class="col pull-left span_4 centered-text">
	<h3>{{ customer.name }}</h3>
	<p>{{ customer.email }}</p>
	<div class="address">
		{% if customer.default_address != nil %}
			<p>
				{{ customer.default_address.address1 }}<br>
				{% if customer.default_address.address2 != "" %}
					{{ customer.default_address.address2 }}<br>
				{% endif %}
				{{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}{% endif %}<br>
				{{customer.default_address.country}}<br>
				{{ customer.default_address.zip}}<br>
				{{ customer.default_address.phone }}
			</p>
		{% endif %}
		<a href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a>
	</div>
</div>

<div class="col span_8 order-history">
	{% if customer.orders.size != 0 %}
		<div class="row heading-row">
			<div class="col span_2 pull-left"><strong>Order</strong></div>
			<div class="col span_2"><strong>Date</strong></div>
			<div class="col span_3"><strong>Payment Status</strong></div>
			<div class="col span_3"><strong>Fulfillment Status</strong></div>
			<div class="col span_2"><strong>Total</strong></div>
		</div>
	
		{% for order in customer.orders %}
			<div class="row item-row {% if order.cancelled %}cancelled_order{% endif %}">
				<div class="col span_2 pull-left">{{ order.name | link_to: order.customer_url }}</div>
				<div class="col span_2">{{ order.created_at | date: "%b %d, %Y" }}</div>
				<div class="col span_3 status_{{ order.financial_status }}">{{ order.financial_status }}</div>
				<div class="col span_3 status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</div>
				<div class="col span_2 total">{{ order.total_price | money }}</td>
			</div>
		{% endfor %}
	{% else %}
		<p class="not-found">You haven't placed any orders yet.</p>
	{% endif %}
</div>