{% layout settings.customer_layout %}

<div class="page-title subtitle">
	<h1>Update Your Address</h1>
</div>

<div class="admin-header">
	<p>
		<a href="/account">Return to Account page</a> <span class="divider">|</span> <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Add New Address</a>
	</p>
</div>

<div class="account-form" style="display:none;">
  {% form 'customer_address', customer.new_address %}
    <h2 style="text-align:center;">Add a new address</h2>
    <table class="customer_address_table">
		<tr>
			<td><label for="address_first_name_new">First Name</label></td>
			<td><input type="text" id="address_first_name_new" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
		</tr>
		<tr>
			<td><label for="address_last_name_new">Last Name</label></td>
			<td><input type="text" id="address_last_name_new" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
		</tr>
		<tr>
			<td><label for="address_company_new">Company</label></td>
			<td><input type="text" for="address_company_new" name="address[company]" value="{{form.company}}" size="40" /></td>
		</tr>
		<tr>
			<td><label for="address_address1_new">Address1</label></td>
			<td><input type="text" id="address_address1_new" name="address[address1]" value="{{form.address1}}" size="40" /></td>
		</tr>
		<tr>
			<td><label for="address_address2_new">Address2</label></td>
			<td><input type="text" id="address_address2_new" name="address[address2]" value="{{form.address2}}" size="40" /></td>
		</tr>
		<tr>
			<td><label for="address_city_new">City</label></td>
			<td><input type="text" id="address_city_new" name="address[city]" value="{{form.city}}" size="40" /></td>
		</tr>
		<tr>
			<td><label for="address_country_new">Country</label></td>
			<td>
				<select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
			</td>
		</tr>
		<tr id="address_province_container_new" style="display:none">
			<td><label for="address_province_new">State/Province</label></td>
			<td>
				<select id="address_province_new" name="address[province]" data-default="{{form.province}}"></select>
			</td>
		</tr>
		<tr>
			<td><label for="address_zip_new">Zip</label></td>
			<td><input type="text" id="address_zip_new" name="address[zip]" value="{{form.zip}}" size="40" /></td>
		</tr>
		<tr>
			<td><label for="address_phone_new">Phone</label></td>
			<td><input type="text" id="address_phone_new" name="address[phone]" value="{{form.phone}}" size="40" /></td>
		</tr>
		<tr>
			<td></td>
			<td>{{ form.set_as_default_checkbox }} Set as default address?</td>
		</tr>
    </table>
    <p>
		<input class="btn" type="submit" value="Add Address" />
		or <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Cancel</a>
    </p>
  {% endform %}
</div><!-- .account-form -->

<div id="address-tables" class="account-form">  
	{% paginate customer.addresses by 10 %}

		{% for address in customer.addresses %}
			<div class="address-table centered-text">
				<div id="view_address_{{address.id}}">
					<h3>
						{{ address.street }} 
						{% if address == customer.default_address %}<span class="small">(Default Address)</span>{% endif %}
					</h3>
					<p>
						{{ "Edit" | edit_customer_address_link: address.id }} <span class="divider">|</span> {{ "Delete" | delete_customer_address_link: address.id }}
					</p>
					<p>
						{{ address.first_name }} {{address.last_name }}<br>
						{% if address.company != "" %}{{ address.company }}<br>{% endif %}
						{{ address.street }}<br>
						{{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}<br>
						{{ address.country }} {{ address.zip }}<br>
						{{ address.phone }}
					</p>
				</div>    
				<div id="edit_address_{{address.id}}" class="account-form" style="display:none;">
					{% form 'customer_address', address %}
						<table class="customer_address_table">
							<tr>
								<td><label for="address_first_name_{{form.id}}">First Name</label></td>
								<td><input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" /></td>
							</tr>
							<tr>
								<td><label for="address_last_name_{{form.id}}">Last Name</label></td>
								<td><input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" /></td>
							</tr>
							<tr>
								<td><label for="address_company_{{form.id}}">Company</label></td>
								<td><input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" size="40" /></td>
							</tr>
							<tr>
								<td><label for="address_address1_{{form.id}}">Address</label></td>
								<td><input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" /></td>
							</tr>
							<tr>
								<td><label for="address_address2_{{form.id}}">Address 2</label></td>
								<td><input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" /></td>
							</tr>
							<tr>
								<td><label for="address_city_{{form.id}}">City</label></td>
								<td><input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" size="40" /></td>
							</tr>
							<tr>
								<td><label for="address_country_{{form.id}}">Country</label></td>
								<td>
								<select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
							</td>
							</tr>
							<tr id="address_province_container_{{form.id}}" style="display:none">
								<td><label for="address_province_{{form.id}}">State/Province</label></td>
								<td><select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select></td>
							</tr>
							<tr>
								<td><label for="address_zip_{{form.id}}">Zip</label></td>
								<td><input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" /></td>
							</tr>
							<tr>
								<td><label for="address_phone_{{form.id}}">Phone</label></td>
								<td><input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" /></td>
							</tr>      
							<tr>
								<td></td>
								<td>{{ form.set_as_default_checkbox }} Set as default address?</td>
							</tr>
						</table>
						<p>
							<input class="btn" type="submit" value="Update Address" />
							or <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">Cancel</a>
						</p>        
					{% endform %}
				</div>
			</div><!-- end .address-table -->
		{% endfor %}

		<div id="address-pagination">{{ paginate | default_pagination }}</div>  
	{% endpaginate %}
</div><!-- end address-tables -->

<script type="text/javascript" charset="utf-8">
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
  {% endfor %}
</script>
