{% layout settings.customer_layout %}

<div class="page-title">
	<h1>Order {{ order.name }}</h1>
</div>

<div class="admin-header row">
	<p><a href="/account">Back to Account Page</a></p>
	<p>Order placed on {{ order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
	{% if order.cancelled %}
		<h5>Order cancelled on {{ order.cancelled_at | date: "%B %d, %Y %I:%M%p" }}</h5>
		<p>{{ order.cancel_reason }}</p>
	{% endif %}
</div>

<div class="row">
	<div class="col span_4 pull-left">
		<h4>Billing Address</h4>
		<p>Payment Status: <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>
		<p>
			{{ order.billing_address.name }}<br>
			{% if order.billing_address.company != blank %}{{ order.billing_address.company }}<br>{% endif %}
			{{ order.billing_address.street }}<br>
			{{ order.billing_address.city }}, {{ order.billing_address.province }}<br>
			{{ order.billing_address.country }} {{ order.billing_address.zip }}<br>
			{{ order.billing_address.phone }}
		</p>

		{% if order.shipping_address %}
			<h4>Shipping Address</h4>
			<p>Fulfillment Status: <span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
			<p>
				{{ order.shipping_address.name }}<br>
				{% if order.shipping_address.company != blank %}{{ order.shipping_address.company }}<br>{% endif %}
				{{ order.shipping_address.street }}<br>
				{{ order.shipping_address.city }}, {{ order.shipping_address.province }}<br>
				{{ order.shipping_address.country }} {{ order.shipping_address.zip }}<br>
				{{ order.shipping_address.phone }}
			</p>
		{% endif %}
	</div>
	<div class="col span_8">
		<div class="row heading-row">
			<div class="col span_6 pull-left"><strong>Product</strong></div>
			<div class="col span_3"><strong>Price</strong></div>
			<div class="col span_3 c"><strong>Qty</strong></div>
			<div class="col span_3 total r"><strong>Total</strong></div>
		</div>
		{% for line_item in order.line_items %}
			<div class="row item-row">
				<div class="col span_6 pull-left">
					<h5>{{ line_item.title | link_to: line_item.product.url }}</h5>
					{% if line_item.fulfillment %}
						<p>
							Fulfilled {{ line_item.fulfillment.created_at | date: "%b %d" }}
							{% if line_item.fulfillment.tracking_number %}
								<br>
								<a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
							{% endif %}
						</p>
					{% endif %}
				</div>
				<div class="col span_3">{{ line_item.price | money }}</div>
				<div class="col span_3 c">{{ line_item.quantity }}</div>
				<div class="col span_3 r total">{{ line_item.quantity | times: line_item.price | money }}</div>
			</div>
		{% endfor %}
		
		<div class="row footer-row">
			<div class="col span_9 pull-left r">Subtotal: </div>
			<div class="col span_3 r">{{ order.subtotal_price | money }}</div>
		</div>

		{% for discount in order.discounts %}
		<div class="row footer-row">
			<div class="col span_9 pull-left r">{{ discount.code }} Discount: </div>
			<div class="col span_3 r">{{ discount.savings | money }}</div>
		</div>
		{% endfor %}

		{% for shipping_method in order.shipping_methods %}
		<div class="row footer-row">
			<div class="col span_9 pull-left r">Shipping ({{ shipping_method.title }}): </div>
			<div class="col span_3 r">{{ shipping_method.price | money }}</div>
		</div>
		{% endfor %}

		{% for tax_line in order.tax_lines %}
		<div class="row footer-row">
			<div class="col span_9 pull-left r">Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%): </div>
			<div class="col span_3 r">{{ tax_line.price | money }}</div>
		</div>
		{% endfor %}    

		<div class="row footer-row total">
			<div class="col span_9 pull-left r">Total: </div>
			<div class="col span_3 r">{{ order.total_price | money }} {{ order.currency }}</div>
		</div>
	</div>
</div><!-- row -->