<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<html>
<head>
	<!-- Basic page needs
	================================================== -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	
	<!-- Title, description, favicon, canonical url
	================================================== -->
	<title>
		{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>
	
	{% if page_description %}
		<meta name="description" content="{{ page_description | escape }}">
	{% endif %}
	
	<link rel="shortcut icon" type="image/x-icon" href=" {{ 'favicon.ico' | asset_url }}">
  	<link rel="canonical" href="{{ canonical_url }}">
  	
  	
  	<!-- Social media open graph
  	================================================== -->
  	{% include 'open-graph' %}
  
	
	<!-- CSS files
	================================================== -->
	{{ 'style.css' | asset_url | stylesheet_tag }}

	
	<!-- Header hook for plugins
	================================================== -->
	{{ content_for_header }}
	
	
	<!-- JS files
	================================================== -->
	<!--[if lt IE 9]>
	{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
	<![endif]-->
	
	{% if template contains 'customers' %}
	    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
	    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
	{% endif %}
	
	<script type="text/javascript">
		Shopify.money_format = "{{ shop.money_format }}";
		Shopify.currency = "{{ shop.currency }}";
	</script>
    
    {% comment %}
      Theme dependent JS is loaded at the very bottom of this file for performance reasons
    {% endcomment %}
	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' | script_tag }}
	{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
</head>

<body id="{% if template contains 'page' %}page{% else %}{{ template | handleize }}{% endif %}" class="{{ template | handleize }} {% if template contains 'customer' %}account{% endif %}">

	{% include 'header' %}

	<section id="body" class="row">
		<div class="sidebar col span_3 pull-left">
			{% if template contains 'blog' or template contains 'article' %}
				{% include 'sidebar-blog' %}
			{% else %}
				{% include 'sidebar' %}
			{% endif %}
		</div>
		<div class="main col span_9">
			{{ content_for_layout }}
		</div>
	</section> <!-- /#body -->
    
	{% include 'footer' %}

	{% comment %}
	  Theme dependent JavaScript.
	{% endcomment %}  
	{% comment %}{{ 'jquery.cookie.js' | asset_url | script_tag }}{% endcomment %}
	{{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
	{{ 'ajaxify.js' | asset_url | script_tag }}
	{{ 'shop.js' | asset_url | script_tag }}
</body>
</html>