<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<!-- Basic page needs
	================================================== -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	
	<!-- Title, description, favicon
	================================================== -->
	<title>
	{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>
	
	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}">
	{% endif %}
	
	<link rel="shortcut icon" type="image/x-icon" href=" {{ 'favicon.ico' | asset_url }}">
  	
  	
  	<!-- Social media open graph
  	================================================== -->
  	{% include 'open-graph' %}
  
  
	<!-- Helpers
	================================================== -->
	<link rel="canonical" href="{{ canonical_url }}">
	<meta name="viewport" content="width=device-width">
	
	
	<!-- CSS files
	================================================== -->
	{{ 'style.css' | asset_url | stylesheet_tag }}

	
	<!-- Header hook for plugins
	================================================== -->
	{{ content_for_header }}
	
	
	<!-- JS files
	================================================== -->
	<!--[if lt IE 9]>
	{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
	<![endif]-->
	
	{% if template contains 'customers' %}
	    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
	    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
	{% endif %}
	
	<script type="text/javascript">
	Shopify.money_format = "{{ shop.money_format }}";
	Shopify.currency = "{{ shop.currency }}";
	</script>
    
    {% comment %}
      Theme dependent JS is loaded at the very bottom of this file for performance reasons
    {% endcomment %}
	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' | script_tag }}
	{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
</head>

<body id="{% if template == 'index' }}home
	{% elsif template contains 'product' %}product
	{% elsif template contains 'collection' %}collection
	{% elsif template contains 'article' %}article
	{% elsif template contains 'blog' %}blog
	{% else %}{{page.handle }}{% endif %}" 
	{% if template contains 'product' %}class="product-{{ product.handle }}"{% elsif template contains 'collection' %}class="collection-{{ collection.handle }}"{% endif %}>
 
	<header class="clearfix">
	
		<div class="wrapper">
			<div class="top-bar clearfix">
				<nav class="account-links">
					<ul class="customer">
					{% if shop.customer_accounts_enabled %}
						{% if customer %}
							<li>
								<a href="/account">My Account</a>
							</li>
							<li>
								{{ 'Logout' | customer_logout_link }}
							</li>
						{% else %}
							{% if shop.customer_accounts_optional %}
								<li>
									{{ 'Register' | customer_register_link }}
								</li>
						{% endif %}
						<li>
							{{ 'Login' | customer_login_link }}
						</li>
						{% endif %}
					{% endif %}
					</ul>
				</nav>
				<div class="cart-summary">
					<a href="/cart">
						Cart (<span class="cart-total-items">{{ cart.item_count }}</span>)
					</a>
				</div>
				<form id="search_form" class="searchform" name="search" action="/search">
					{% if template == "search" and search.performed and search.terms != "" %}
					<input type="text" name="q" value="{{ search.terms }}" />
					{% else %}
					<input type="text" name="q" value="" placeholder="SEARCH" />
					{% endif %}
					<input type="submit" class="searchsubmit" />
				</form>
			</div><!-- /top-bar -->
		
			<div class="logo">
				<a href="/" class="shop_logo">
					<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" class="png_bg" />
				</a>
			</div> <!-- /.logo -->
			
			<nav class="page-menu">
				<ul>
					{% for link in linklists.main-menu.links %}
						{% if linklists[link.handle] == empty %}
							<li><a href="{{ link.url }}"{% if link.active %} class="current"{% endif %}><span>{{ link.title }}</span></a></li>
						{% else %}
							<li class="dropdown"><a href="{{ link.url }}"{% if link.active %} class="current"{% endif %}><span>{{ link.title }}</span></a>
						  		<ul class="dropdown">
						    		{% for link in linklists[link.handle].links %}
						    			<li><a href="{{ link.url }}"{% if link.active %} class="current"{% endif %}>{{ link.title }}</a></li>
						   			 {% endfor %}
						  		</ul>
							</li>
						{% endif %}
					{% endfor %}
					<li class="social-link facebook">
						<a href="https://www.facebook.com/{{ settings.facebook }}" target="_blank">Facebook</a>
					</li>
					<li class="social-link twitter">
						<a href="https://twitter.com/{{ settings.twitter }}" target="_blank">Twitter</a>
					</li>
					<li class="social-link pinterest">
						<a href="http://pinterest.com/{{ settings.pinterest }}" target="_blank">Pinterest</a>
					</li>
					<li class="social-link instagram">
						<a href="http://instagram.com/{{ settings.instagram }}" target="_blank">Instagram</a>
					</li>
					<li class="social-link email">
						<a href="mailto:{{ shop.email }}" target="_blank">{{ shop.email }}</a>
					</li>
				</ul>
			</nav>
		</div> <!-- end wrapper -->
	</header>

	<section id="body" class="clearfix">
		{{ content_for_layout }}
	</section> <!-- /#body -->
    
	<footer class="clearfix">
		<div class="wrapper">
			<div id="copyright">
				Copyright {{ 'now' | date: "%Y" }} {{ shop.name }}. All rights reserved. Site design by <a href="http://designer.com" target="_blank" rel="nofollow">designer</a> | Code by <a href="http://zoerooney.com" target="_blank" rel="nofollow">Zoe Rooney Web Development</a>	     	
			</div>
		
			<div class="footer-nav">
				<nav>
					<ul>
					{% for link in linklists.footer.links %}
						<li><a href="{{ link.url }}"{% if link.active %} class="current"{% endif %}>{{ link.title }}</a></li>
					{% endfor %}
					</ul>
				</nav>
			</div>
		</div><!-- end wrapper -->
	</footer>

	{% comment %}
	  Theme dependent JavaScript.
	{% endcomment %}  
	{{ 'jquery.cookie.js' | asset_url | script_tag }}
	{{ 'jquery.bxslider.min.js' | asset_url | script_tag }}
	{{ 'jquery.selectbox-0.2.min.js' | asset_url | script_tag }}
	{{ 'jquery.fancybox.pack.js' | asset_url | script_tag }}
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
	{{ 'ajaxify.js' | asset_url | script_tag }}
	{{ 'shop.js' | asset_url | script_tag }}
</body>
</html>