<div id="blog" class="clearfix">
  <div class="page-title">
  	 <h2>{{ blog.title }}</h2>
  </div>
  <div class="wrapper">
  {% paginate blog.articles by settings.pagination_limit %}
  <div class="articles clearfix">
    <div class="blog-main">
      
      {% for article in blog.articles %}
	      <div class="article clearfix">
	        <div class="post-info">
	          <div class="date">{{ article.created_at | date: "%m.%d" }}</div>
	          <div class="comment-count"><a href="#comments">{% if article.comments.size > 0 %}{{ article.comments_count }}{% else %}&nbsp;{% endif %}</a></div>
	        </div>
	        <div class="post-content">
	          <h2 class="post-title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
	          <div class="content">
	            {% if article.excerpt.size > 0 %}
	              {{ article.excerpt }}
	              <a href="{{ article.url }}">Read more &rarr;</a>
	            {% else %}
	              {{ article.content }}
	            {% endif %}
	          </div> <!-- /.rte -->
	          {% include 'article-meta' %}
	        </div> <!-- /.content -->
	      </div> <!-- /.article -->
	   {% endfor %}
    </div> <!-- /.main -->
    <div class="blog-sidebar">
    {% include 'sidebar-blog' %}
    </div>
  </div> <!-- /.articles -->

  {% include 'pagination' %}
  {% endpaginate %}
  </div>
</div> <!-- /#blog -->
{% include 'featured-products' %}