<div class="page-title">
	<h1>Your Cart</h1>
</div>

<div id="cart" class="container">
    {% if cart.item_count == 0 %}

        <div class="row top-border centered-text">
            <p class="not-found">Your cart is empty</p>
            <a href="{{ settings.main_url }}/shop/" class="btn tier-2">CONTINUE SHOPPING</a>
        </div>

    {% else %}

        <form action="/cart" method="post" id="cartform">

            <div class="row cart-layout">
                <div class="row heading-row">
                    <div class="col pull-left span_6 product-title th">
                        <h2>ITEM</h2>
                    </div>
                    <div class="col span_6">
                        <div class="col span_4 pull-left th c"><h2>PRICE</h2></div>
                        <div class="col span_4 th c"><h2>QUANTITY</h2></div>
                        <div class="col span_4 th r"><h2>TOTAL</h2></div>
                    </div>
                </div>
                {% for item in cart.items %}
                    <div class="row item-row">
                        <div class="col pull-left span_6 product-title">
                            <div class="col pull-left span_4">
                                <div class="product-image">
                                    <img src="{{ item | img_url: 'small' }}"  alt="{{ item.product.featured_image.url }}" />
                                </div>
                            </div>
                            <div class="col span_8 product-title">
                                {% if item.title == 'Gift Wrap' %}
                                    <strong>{{ item.product.title }}</strong><br>
                                {% else %}
                                     <a href="{{ item.url }}"><strong>{{ item.product.title }}</strong></a><br>
                                     {% for opt in item.product.options %}
                                        {{ opt }}: {% if forloop.first %}{{ item.variant.option1 }}{% elsif forloop.index == 2 %}{{ item.variant.option2 }}{% elsif forloop.index == 3 %}{{ item.variant.option3 }}{% endif %}<br>
                                    {% endfor %}
                                {% endif %}
                                
                                {% for p in item.properties %}
                                    {% unless p.last == blank %}
                                        {{ p.first }}:
                                        {% if p.last contains '/uploads/' %}
                                            <a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                                        {% else %}
                                            {{ p.last }}
                                        {% endif %}
                                        <br />
                                    {% endunless %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col span_6">
                            <div class="col span_4 pull-left c">
                                {{ item.price | money }}
                            </div>
                            <div class="col span_4 c">
                                <input type="number" size="4" name="updates[]" id="updates_{{item.id}}" value="{{ item.quantity }}" onfocus="this.select();" class="item-quantity" />
                                <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="text-button">Remove</a>
                            </div>
                            <div class="col span_4 r">
                                {{ item.line_price | money }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="row summary summary-first">
                    <div class="col pull-left span_6">
                    	<div class="row footer-row">
	                        <h6>Add Special Instructions</h6>
	                        <textarea id="note" name="note" rows="2" cols="40">{{ cart.note }}</textarea>
                        </div>
                        {% comment %}{% include 'gift-wrap' %}{% endcomment %}
                    </div>
                    <div class="col span_6 r">
                        <div class="row no-border subtotal-details footer-row">
                            <div class="col pull-left span_6">
                                <span class="total"><strong>SUBTOTAL</strong></span>
                                 <span class="small">Excluding tax &amp; shipping</span>
                            </div>
                            <div class="col span_6 centered-text">
                                <h4><span class="price">{{ cart.total_price | money }}</span></h4>
                            </div>
                        </div>
                        <div class="row no-border checkout-links footer-row">
                            <div class="col pull-left span_6">
                                <div class="more-shopping">
                                    <a href="{{ settings.main_url }}/shop/">Continue Shopping</a>
                                </div>
                            </div>
                            <div class="col span_6 centered-text">
                               <input type="submit" id="update-cart" class="text-button" name="update" value="Update" />
                            </div>
                        </div>
                        <div class="row no-border checkout-links footer-row">
                            <div class="col pull-left span_4"></div>
                            <div class="col span_8 centered-text">
                               <button type="submit" id="checkout" class="fancy" name="checkout">CHECKOUT</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if additional_checkout_buttons %}
                    <div class="row footer-row">
                        <div class="col pull-left span_12 r">
                                <p>- or -</p>
                                {{ content_for_additional_checkout_buttons }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
    {% endif %}

</div> <!-- /#cart -->

<script type="text/javascript">
function remove_item(id) {
    document.getElementById('updates_'+id).value = 0;
    document.getElementById('cartform').submit();
}
</script>