{% paginate collection.products by settings.pagination_limit %}

<div class="page-title {% if current_tags %}subtitle{% endif %} clearfix">
	{% unless current_tags %}
		{% if collection.image %}
			{{ collection.image.src | collection_img_url: '1024x1024' | img_tag: collection.image.alt }}
		{% endif %} 
	{% endunless %}
	{% if current_tags %}
		<h1>{{ current_tags.first | replace: '-', ' ' }}</a>
	{% else %}
		<h1>{{ collection.title }}</h1><span>{{ collection.description }}<span>
	{% endif %}
</div>

{% if collection.all_products_count  == 0 %}
	<div class="not-found">
		No products found
	</div>
{% else %}
	<div class="content-table clearfix">
	{% for product in collection.products %}
		{% include 'product-loop' with collection.handle %}
	{% endfor %}
	</div>
	<div class="pagination">
		{{ paginate | default_pagination | replace: 'Previous', '<' | replace: 'Next', '>' }}
		<a class="view-all" href="/collections/{{ collection.handle }}">view fewer</a>
	</div>
{% endif %}

{% endpaginate %}