<div class="page-title">
      <h2>{{ page.title }}</h2>
</div>
<div id="content">
      {{ page.content }}
      {% if customer %}
		<div id="content-table">
				{% for tag in customer.tags %}
					{% assign the_test = "nutthin" %}
					{% capture tag_id %}{{ tag }}{% endcapture %}
					{% assign tag_count = 0 %}
					{% assign tag_size = tag_id | size %}
					{% for tag in customer.tags %}
						{% capture cur_tag %}{{ tag }}{% endcapture %}
						{% if cur_tag contains tag_id %}
							{% assign cur_tag_size = cur_tag | size %}
							{% assign difference = tag_size | minus: cur_tag_size %}
							{% if difference == 0 %}
								{% assign the_test = tag_id %}
							{% else %}
								{% assign the_test = "nutthin" %}
							{% endif %}
						{% endif %}
					{% endfor %}	
		
						{% for collection in collections %}
							{% if collection.handle == "all" %}
								{% for product in collection.products %}
									{% capture product_id %}{{ product.id }}{% endcapture %}
									{% assign product_id_size = product_id | size %}
		
									{% assign difference_one = tag_size | minus: product_id_size %}
									{% assign difference = difference_one | money_without_currency | times: 100 %}
									{% capture difference_check %}{{ difference | divided_by: 2 }}{% endcapture %}
									{% assign check = difference_check | split: '.' %}
		
									{% if check[1] contains "5" %}{% assign display = "false" %}{% else %}{% assign display = "true" %}{% endif %}
		
									{% if the_test contains product_id and display == "true" %}
											<div id="product-slide-{{ product.handle }}" class="product">
											  <div class="image">
											    <a href="{{ product.url | within: collection }}">
											      <img src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" title="{{ product.featured_image.alt | escape  }}" />
											    </a>
											  </div>
											  <div class="caption">
											    <a href="{{ product.url | within: collection }}">
											      <h3>{{ product.title }}</h3>
											        <span class="price{% if product.compare_at_price > product.price %} sale{% endif %}{% unless product.available %} soldout{% endunless %}">{% if product.available %}{% if product.compare_at_price > product.price %} <del>{{ product.compare_at_price | money }}</del>{% endif %}  
											        {{ product.price | money }}{% else %}SOLD OUT {% endif %}        
											          </span>
											    </a>
											  </div>
											  <div class="wishlist-form" style="float:left;">{% form 'customer' %}
											  	<input type="hidden" id="contact_email" name="contact[email]" value="{{ customer.email }}"/>
											  	<input type="hidden" name="contact[tags]" id="contact_tags" value="x{{ tag_id }}" />
											  	<input type='submit' value="remove" />
											  {% endform %}</div>
											  <div  class="wishlist-form" style="float: right;">{% for variant in product.variants limit:1 %}
											  	<form id="add-item-form" action="/cart/add" method="post">
											  		<input type="hidden" name="id" value="{{ variant.id }}" />
											  		<input type="submit" value="add to bag" id="add-to-cart" class="submit-add-to-cart" />
											  	</form>
											  {% endfor %}</div>
											</div>
											
										
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
				{% endfor %}
			</div>
			<div style="padding: 34px 0;clear:both;display:block;text-align: center;">
			<a href="mailto:?subject=My%20{{ shop.name | replace: " ","%20" }}%20Favorites&amp;body=I've%20added%20the%20following%20items%20to%20my%20favorites%20at%20{{ shop.name | replace: " ","%20" }}{% for tag in customer.tags %}{% assign the_test = "nutthin" %}{% capture tag_id %}{{ tag }}{% endcapture %}{% assign tag_count = 0 %}{% assign tag_size = tag_id | size %}{% for tag in customer.tags %}{% capture cur_tag %}{{ tag }}{% endcapture %}{% if cur_tag contains tag_id %}{% assign cur_tag_size = cur_tag | size %}{% assign difference = tag_size | minus: cur_tag_size %}{% if difference == 0 %}{% assign the_test = tag_id %}{% else %}{% assign the_test = "nutthin" %}{% endif %}{% endif %}{% endfor %}{% for collection in collections %}{% if collection.handle == "all" %}{% for product in collection.products %}{% capture product_id %}{{ product.id }}{% endcapture %}{% assign product_id_size = product_id | size %}{% assign difference_one = tag_size | minus: product_id_size %}{% assign difference = difference_one | money_without_currency | times: 100 %}{% capture difference_check %}{{ difference | divided_by: 2 }}{% endcapture %}{% assign check = difference_check | split: '.' %}{% if check[1] contains "5" %}{% assign display = "false" %}{% else %}{% assign display = "true" %}{% endif %}{% if the_test contains product_id and display == "true" %}%0A%0A{{ product.title | replace: " ","%20" }}%3A%20%20{{ shop.url }}{{ product.url }}{% endif %}{% endfor %}{% endif %}{% endfor %}{% endfor %}" class="btn wishlist-share">Share my favorites via email</a>
			</div>
	{% else %}
		<p style="text-align:center;">You must <a href="/account/login">sign in</a> or <a href="/account/register">create an account</a> to view your favorites.</p>
	{% endif %}
</div><!-- /#content -->