<div id="search" class="clearfix">
  
  <div class="wrapper">
 
  <div class="collection-sidebar">
  	{% include "sidebar" %}
  </div>
  
  <div class="collection-main">
  	{% if search.performed %}
  	{% paginate search.results by 16 %} 	
  	<div class="page-title">
  		 <h1>SEARCH RESULTS</h1><span>{{ search.results_count }} {{ search.results_count | pluralize: 'match', 'matches' }}</span>
  	</div>
     
	    {% if search.terms == "" %}
	    	Your search query was empty.
	    {% else %}
	    
		    {% if search.results == empty %}  
		
		     Your search for "{{search.terms | escape}}" did not yield any results
		           
		    {% else %}  
	     
		     <div class="content-table clearfix">
		      {% for item in search.results %}
		      	<div id="product-{{ forloop.index | plus:paginate.current_offset }}" class="product{% cycle 'featured': '', '', '', ' last' %}">
		      	  <div class="image">
		      	    <a href="{{ item.url }}"><img src="{{ item.featured_image.src | product_img_url: 'large' }}" alt="{{ item.featured_image.alt | escape  }}" /></a>
		      	  </div>
		      	  
		      	  <div class="caption clearfix">
		      	    <a href="{{ item.url }}">
		      	      <h3>{{ item.vendor }}</h3>
		      	      <h4>{{ item.title }}</h4>
		      	      <span class="price{% if item.compare_at_price > item.price %} sale{% endif %}{% unless item.available %} soldout{% endunless %}">
		      	      	{% if item.available %}
		      	      		{% if item.compare_at_price > item.price %} <del>{{ item.compare_at_price | money }}</del><br>
		      	      		{% endif %}  
		      	      		{{ item.price | money }}{% if item.price_varies %} - {{ item.price_max | money }}{% endif %}
		      	      		{% else %}
		      	      		SOLD OUT 
		      	      		{% endif %}        
		      	      </span>
		      	    </a>
		      	  </div>
		      	  
		      	</div>
		      {% endfor %}
		    </div> <!-- /.results -->
			
		    {% endif %}
    
    	{% endif %}
	    {% if paginate.pages > 1 %}
	    <div class="pagination">
	      {{ paginate | default_pagination | replace: '&laquo; Previous', '<' | replace: 'Next &raquo;', '>' }}
	    </div>
	    {% endif %}
    {% endpaginate %}
    
  </div> <!-- /.main -->
  

  {% else %}
<div class="page-title">
	 <h1>Uh Oh!</h1>
</div>	
  <div id="not_found">
    Your search query was empty or no results were found. Please try again.
  </div> <!-- /#not_found -->

  {% endif %}
  </div>
</div> <!-- /#search -->