{% if search.performed %}

	{% paginate search.results by settings.pagination_limit %} 

	<div class="page-title">
		<h2>SEARCH RESULTS</h2>
		<span>
			{{ search.results_count }} {{ search.results_count | pluralize: 'match', 'matches' }}
		</span>
	</div>

	{% if search.terms == "" %}
		<div class="not-found">
			Your search query was empty.
		</div>
	{% else %}
		{% if search.results == empty %}  
			<div class="not-found">
				Your search for "{{search.terms | escape}}" did not yield any results
			</div>
		{% else %}{% comment %}Search results aren't empty, so display them{% endcomment %}
			<div class="content-table">
				{% for item in search.results %}
					<div id="product-{{ forloop.index | plus:paginate.current_offset }}" class="product{% cycle 'featured': '', '', '', ' last' %}">
						<div class="image">
							<a href="{{ item.url }}">
								<img src="{{ item.featured_image.src | product_img_url: 'large' }}" alt="{{ item.featured_image.alt | escape  }}" />
							</a>
						</div>
						<div class="caption">
							<a href="{{ item.url }}">
								<h3>{{ item.title }}</h3>
								<h4>{{ item.vendor }}</h4>
								<span class="price{% if item.compare_at_price > item.price %} sale{% endif %}{% unless item.available %} soldout{% endunless %}">
									{% if item.available %}
										{% if item.compare_at_price > item.price %}
											 <del>{{ item.compare_at_price | money }}</del><br>
										{% endif %}  
										{{ item.price | money }}{% if item.price_varies %} - {{ item.price_max | money }}{% endif %}
									{% else %}
										SOLD OUT 
									{% endif %}        
								</span>
							</a>
						</div><!-- .caption -->
					</div><!-- /#product-index -->
				{% endfor %}
			</div> <!-- /.content-table -->
		{% endif %}{% comment %}End search.results == empty check{% endcomment %}
	{% endif %}{% comment %}End check for search terms{% endcomment %}
	
	{% if paginate.pages > 1 %}
		<div class="pagination">
			{{ paginate | default_pagination | replace: '&laquo; Previous', '' | replace: 'Next &raquo;', '' }}
		</div>
	{% endif %}

	{% endpaginate %}

{% else %}{% comment %}Search not performed, throw error{% endcomment %}
	<div class="page-title">
		<h2>Uh Oh!</h2>
	</div>	
	<div id="not_found" class="not-found">
		Your search query was empty or no results were found. Please try again.
	</div> <!-- /#not_found -->
{% endif %}