<div id="search" class="clearfix">
  <div class="page-title">
  	 <h2>Search Results</h2>
  </div>
  <div class="wrapper">
  {% if search.performed %}
  <div class="collection-sidebar">
  	{% include "sidebar" %}
  </div>
  <div class="main">
    {% paginate search.results by settings.pagination_limit %}  
    <div class="more-info clearfix">
      <div class="fl">
        
        <span class="lower">{{ search.results_count }} {{ search.results_count | pluralize: 'Match', 'Matches' }} </span>
      </div>
      <div class="fr">
        <span class="upper">&nbsp;</span>
        <span class="lower">{% include 'pagination' %}</span>
      </div>
    </div>
    {% if search.terms == "" %}
    <p>Your search query was empty.</p>
    {% else %}
    {% if search.results == empty %}  
    <div class="empty">
      Your search for "{{search.terms | escape}}" did not yield any results
    </div>              
    {% else %}  

    <div class="results">
      {% for item in search.results %}
      <div class="item clearfix">
        {% if item.featured_image.src %}
        <div class="thumbnail">
          <a href="{{ item.url }}">{{ item.featured_image.src | product_img_url: 'thumb' | img_tag: item.featured_image.alt }}</a>
          
        </div>
        <div class="content">
        {% else %}
        <div class="content indented">
        {% endif %}
          {% if item.url contains 'shows' %}
          	<h4><a href="/pages/past-shows">{{ item.title }}</a></h4>
          {% else %}
          <h4>{{ item.title | link_to: item.url }}</h4>
          {% endif %}
          {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}
        </div>
      </div> <!-- /.item -->
      {% endfor %}
    </div> <!-- /.results -->

    {% endif %}
    {% endif %}
    
    <div class="more-info clearfix">
      <div class="fr">
        <span class="upper">&nbsp;</span>
        <span class="lower">{% include 'pagination' %}</span>
      </div>
    </div>

    {% endpaginate %}
  </div> <!-- /.main -->
  

  {% else %}

  <div id="not_found">
    <h2>Search the Entire Site</h2>
    <form id="search_form" class="searchform" name="search" action="/search">
      <input type="text" class="replace" name="q" value="Search..." />
    </form>
  </div> <!-- /#not_found -->

  {% endif %}
  </div>
</div> <!-- /#search -->
{% include 'featured-products' %}